 * {
     padding: 0;
     margin: 0;
     font-family: 'Jost', sans-serif;
     scroll-behavior: smooth;
     scroll-snap-type: proximity;
 }

 #mobile_navbar {
     display: none;

 }

 #ul_small {
     display: none;
 }

 #navbar_me {
     color: #ffff;
     width: 100vw;
     height: 7vh;
     top: 0;
     background-color: #2D334F;
     display: flex;
     align-items: center;
     justify-content: space-around;
     box-shadow: 0px 2px 5px #ffffff;
     position: sticky;
    z-index: 2;
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
 }


 #navbar_me>#ul_large {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     list-style: none;
 }

 #navbar_me>ul>li a {
     text-decoration: none;
    font-weight: bold;
     color: #fff;
     transition: 150ms ease-in-out;
 }
 /* #navbar_me>ul>li a:hover{
    border-bottom: #fff;
 } */


 .auth_btn {
     text-decoration: none;
     color: #fff;
     background-color: #2D334F;
     padding: 0.3rem 1rem 0.3rem 1rem;
     border-radius: 0.3rem;
     box-shadow: 2px 2px 5px #2D334F;
     font-size: 1.1rem;
 }

 .auth_btn:hover {
     box-shadow: 2px 3px 8px #fff;
 }

 .custom-dropdown {
     position: relative;
     display: inline-block;
 }

 .custom-dropdown-toggle {
     display: block;
     padding: 10px;
     text-decoration: none;
     color: #2b5191;

 }

 .custom-dropdown-menu {
     display: none;
     position: absolute;
     background-color: white;
     border: 1px solid #ddd;
     border-radius: 0.8rem;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     z-index: 1;
 }

 .custom-dropdown-menu li {
     padding: 15px;
     list-style: none;

 }

 .custom-dropdown-menu li a {
     text-decoration: none;
     color: #000;

 }

 .custom-dropdown:hover .custom-dropdown-menu {
     display: block;
     width: 10rem;
     z-index: 2;
 }


 @media screen and (max-width:850px) {
     #navbar_me {
         display: none;
     }

     #navbar_me>h1 {
         display: none;
     }

     #ul_large>li {
         display: none;
     }

     #bottom-nav {
         color: white;
         width: 100vw;
         height: 7vh;
         bottom: 0;
         background-color: #2D334F;
         display: flex;
         align-items: center;
         justify-content: space-around;
         box-shadow: 0px 2px 5px #2D334F;
         position: sticky;
     }


     #mobile_navbar {
         color: white;
         width: 100vw;
         height: 7vh;
         background-color: #2D334F;
         display: flex;
         position: sticky;
         top: 0;
         left: 0;
         align-items: center;
         justify-content: space-around;
         box-shadow: 0px 2px 5px #2D334F;
        z-index: 2;
     }

     #ul_small {
         background-color: #2D334F;
         position: absolute;
         width: 100vw;
         display: flex;
         align-items: center;
         justify-content: space-around;
     }

     #ul_small>i {
         font-size: 1.5rem;
     }

     #ul_small>span {
         font-size: 2.3rem;
         /* margin-bottom: 1rem; */

     }

     #mobile_navbar>form {
         background-color: #fff;
         border-radius: 1rem;
         position: relative;
     }

     .fa-magnifying-glass {
         position: absolute;
         font-size: 1.1rem;
         left: 0;
         top: 10px;
         padding-left: 9px;
     }

     #mobile_navbar>form>input:focus {
         outline: none;
     }


     #mobile_navbar>form>input::placeholder {
         padding-left: 2rem;
     }

     #mobile_navbar>form>input {
         border-radius: 1rem;
         padding: 0.6rem;
         outline: none;
         border: 0;
     }



     .custom-dropdown_mobile {
         display: none;
     }

     .custom-dropdown-menu {
         right: 0.01rem;
         width: 7rem;
     }

     .custom-dropdown-menu li {
         padding: 10px;


     }

     .auth_btn2 {
         display: none;
     }
 }

 @media screen and (max-width:350px) {
     #mobile_navbar {
         padding: 0.5rem;
     }

     #mobile_navbar>span>a {
         font-size: 0.7rem;
     }

     #mobile_navbar>form>input {
         padding: 0.2rem;
     }

     #mobile_navbar>form>i {
         font-size: 0.8rem;
         top: 6px;
     }

     #ul_small>i {
         font-size: 1.1rem;
     }

     #ul_small>span {
         font-size: 1.6rem;
     }
        
 }



/* -------------------------------------- Carousel Css---------------------------------------------------------- */

body {
    margin: 0;
}

.slide-container {
    /* position: relative; */
    width: 100%;
}

.slide img {        
    object-fit: cover;
    width: 100%;
    height: 350px;
    z-index: -1;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 13rem;
    color: black;
    background-color: aliceblue;
    padding: 12px 15px;
    font-size: 25px;
    font-weight: bolder;
    z-index: 0;
}

.next {
    right: 10px;
    padding-top: 10px;
}

.prev {
    left: 10px;
}

.slide {
    display: none;
}

@media screen and (max-width:767px){
        .slide img {
                height: 250px;
        
            }
                .arrow {
                  top: 10rem;
                }

}